# Exercise 1 -  Sakila Star Schema & ETL  

All the database tables in this demo are based on public database samples and transformations
- `Sakila` is a sample database created by `MySql` [Link](https://video.udacity-data.com/topher/2021/August/61120e06_pagila-3nf/pagila-3nf.png)
- The postgresql version of it is called `Pagila` [Link](https://github.com/devrimgunduz/pagila)
- The facts and dimension tables design is based on O'Reilly's public dimensional modelling tutorial schema [Link](https://video.udacity-data.com/topher/2021/August/61120d38_pagila-star/pagila-star.png)

# STEP0: Using ipython-sql

- Load ipython-sql: `%load_ext sql`

- To execute SQL queries you write one of the following atop of your cell: 
    - `%sql`
        - For a one-liner SQL query
        - You can access a python var using `$`    
    - `%%sql`
        - For a multi-line SQL query
        - You can **NOT** access a python var using `$`


- Running a connection string like:
`postgresql://postgres:postgres@db:5432/pagila` connects to the database

# STEP1 : Connect to the local database where Pagila is loaded

##  1.1 Create the pagila db and fill it with data
- Adding `"!"` at the beginning of a jupyter cell runs a command in a shell, i.e. we are not running python code but we are running the `createdb` and `psql` postgresql commmand-line utilities

In [6]:
!createdb --help

createdb creates a PostgreSQL database.

Usage:
  createdb [OPTION]... [DBNAME] [DESCRIPTION]

Options:
  -D, --tablespace=TABLESPACE  default tablespace for the database
  -e, --echo                   show the commands being sent to the server
  -E, --encoding=ENCODING      encoding for the database
  -l, --locale=LOCALE          locale settings for the database
      --lc-collate=LOCALE      LC_COLLATE setting for the database
      --lc-ctype=LOCALE        LC_CTYPE setting for the database
      --icu-locale=LOCALE      ICU locale setting for the database
      --locale-provider={libc|icu}
                               locale provider for the database's default collation
  -O, --owner=OWNER            database user to own the new database
  -S, --strategy=STRATEGY      database creation strategy wal_log or file_copy
  -T, --template=TEMPLATE      template database to copy
  -V, --version                output version information, then exit
  -?, --help                   show this help, then exit

Connection options:
  -h, --host=HOSTNAME          database server host or socket directory
  -p, --port=PORT              database server port
  -U, --username=USERNAME      user name to connect as
  -w, --no-password            never prompt for password
  -W, --password               force password prompt
  --maintenance-db=DBNAME      alternate maintenance database

By default, a database with the same name as the current user is created.

Report bugs to <pgsql-bugs@lists.postgresql.org>.
PostgreSQL home page: <https://www.postgresql.org/>

In [48]:
try:
    !set PGPASSWORD=1234&& createdb -h localhost -U postgres  pagila
except Exception as e:
    print(e)

createdb: error: database creation failed: ERROR:  database "pagila" already exists

In [49]:
try:
    !set PGPASSWORD=1234&& psql -q -h localhost -U postgres -d pagila -f pagila-schema.sql
except Exception as e:
    print(e)

 set_config
------------

(1 row)

In [50]:
try:
    !set PGPASSWORD=1234&& psql -q -h localhost -U postgres -d pagila -f pagila-data.sql
except Exception as e:
    print(e)

 set_config
------------

(1 row)

 setval
--------
    200
(1 row)

 setval
--------
    605
(1 row)

 setval
--------
     16
(1 row)

 setval
--------
    600
(1 row)

 setval
--------
    109
(1 row)

 setval
--------
    599
(1 row)

 setval
--------
   1000
(1 row)

 setval
--------
   4581
(1 row)

 setval
--------
      6
(1 row)

 setval
--------
  32098
(1 row)

 setval
--------
  16049
(1 row)

 setval
--------
      2
(1 row)

 setval
--------
      2
(1 row)

## 1.2 Connect to the newly created db

In [3]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\marsh\appdata\local\programs\python\python310\lib\site-packages (0.4.1)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\marsh\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\marsh\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (1.4.46)
Requirement already satisfied: prettytable<1 in c:\users\marsh\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlparse in c:\users\marsh\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: six in c:\users\marsh\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython>=1.0 in c:\users\marsh\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (8.7.0)
Requirement already satisfied: pickleshare in c:\users\marsh\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: colorama in c:\users\marsh\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.5)
Requirement already satisfied: traitlets>=5 in c:\users\marsh\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (5.6.0)
Requirement already satisfied: backcall in c:\users\marsh\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\marsh\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: pygments>=2.4.0 in c:\users\marsh\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (2.13.0)
Requirement already satisfied: stack-data in c:\users\marsh\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.6.2)
Requirement already satisfied: matplotlib-inline in c:\users\marsh\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.11 in c:\users\marsh\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.36)
Requirement already satisfied: jedi>=0.16 in c:\users\marsh\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\marsh\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (2.0.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\marsh\appdata\local\programs\python\python310\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\marsh\appdata\local\programs\python\python310\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.11->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: pure-eval in c:\users\marsh\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\marsh\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.2.1)
Requirement already satisfied: executing>=1.2.0 in c:\users\marsh\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (1.2.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 22.3.1 is available.
You should consider upgrading via the 'C:\Users\Marsh\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [51]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [56]:
DB_ENDPOINT = "localhost"
DB = 'pagila'
DB_USER = 'postgres'
DB_PASSWORD = '1234'
DB_PORT = '5432'

try: 
# postgresql://username:password@host:port/database
    conn_string = "postgresql://{}:{}@{}:{}/{}" \
                            .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)
    print(conn_string)
except psycopg2.Error as e: 
    print("Error: Could not make connection to the Postgres database")
    print(e)

postgresql://postgres:1234@localhost:5432/pagila

In [57]:
%sql $conn_string

# STEP2 : Explore the  3NF Schema

<img src="./pagila-3nf.png" width="50%"/>

## 2.1 How much? What data sizes are we looking at?

In [58]:
nStores = %sql select count(*) from store;
nFilms = %sql select count(*) from film;
nCustomers = %sql select count(*) from customer;
nRentals = %sql select count(*) from rental;
nPayment = %sql select count(*) from payment;
nStaff = %sql select count(*) from staff;
nCity = %sql select count(*) from city;
nCountry = %sql select count(*) from country;

print("nFilms\t\t=", nFilms[0][0])
print("nCustomers\t=", nCustomers[0][0])
print("nRentals\t=", nRentals[0][0])
print("nPayment\t=", nPayment[0][0])
print("nStaff\t\t=", nStaff[0][0])
print("nStores\t\t=", nStores[0][0])
print("nCities\t\t=", nCity[0][0])
print("nCountry\t\t=", nCountry[0][0])

 * postgresql://postgres:***@localhost:5432/pagila
   postgresql://postgres:***@localhost:5432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:5432/pagila
   postgresql://postgres:***@localhost:5432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:5432/pagila
   postgresql://postgres:***@localhost:5432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:5432/pagila
   postgresql://postgres:***@localhost:5432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:5432/pagila
   postgresql://postgres:***@localhost:5432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:5432/pagila
   postgresql://postgres:***@localhost:5432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:5432/pagila
   postgresql://postgres:***@localhost:5432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:5432/pagila
   postgresql://postgres:***@localhost:5432/postgres
1 rows affected.
nFilms		= 1000
nCustomers	= 599
nRentals	= 16044
nPayment	= 16049
nStaff		= 2
nStores		= 2
nCities		= 600
nCountry		= 109

## 2.2 When? What time period are we talking about?

In [59]:
%%sql 
select min(payment_date) as start, max(payment_date) as end from payment;

 * postgresql://postgres:***@localhost:5432/pagila
   postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[(datetime.datetime(2022, 1, 23, 8, 3, 52, 212496, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400))), datetime.datetime(2022, 7, 27, 6, 39, 20, 739759, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))))]

## 2.3 Where? Where do events in this database occur?
TODO: Write a query that displays the number of addresses by district in the address table. Limit the table to the top 10 districts. Your results should match the table below.

In [73]:
%%sql
select COUNT(*), address.district
    FROM address
    GROUP BY 2
    ORDER BY 1 DESC
    LIMIT 10;

 * postgresql://postgres:***@localhost:5432/pagila
   postgresql://postgres:***@localhost:5432/postgres
10 rows affected.

[(10, 'Buenos Aires'),
 (9, 'Shandong'),
 (9, 'California'),
 (9, 'West Bengali'),
 (8, 'Uttar Pradesh'),
 (8, 'So Paulo'),
 (7, 'England'),
 (7, 'Maharashtra'),
 (6, 'Southern Tagalog'),
 (5, 'Gois')]

<div class="p-Widget jp-RenderedHTMLCommon jp-RenderedHTML jp-OutputArea-output jp-OutputArea-executeResult" data-mime-type="text/html"><table>
    <tbody><tr>
        <th>district</th>
        <th>n</th>
    </tr>
    <tr>
        <td>Buenos Aires</td>
        <td>10</td>
    </tr>
    <tr>
        <td>California</td>
        <td>9</td>
    </tr>
    <tr>
        <td>Shandong</td>
        <td>9</td>
    </tr>
    <tr>
        <td>West Bengali</td>
        <td>9</td>
    </tr>
    <tr>
        <td>So Paulo</td>
        <td>8</td>
    </tr>
    <tr>
        <td>Uttar Pradesh</td>
        <td>8</td>
    </tr>
    <tr>
        <td>Maharashtra</td>
        <td>7</td>
    </tr>
    <tr>
        <td>England</td>
        <td>7</td>
    </tr>
    <tr>
        <td>Southern Tagalog</td>
        <td>6</td>
    </tr>
    <tr>
        <td>Punjab</td>
        <td>5</td>
    </tr>
</tbody></table></div>